@import "vars";
@import "mixins";

body {
  @include body;
}

.navBar {
  @include navBar;
}
#gitIcon {
  @include gitIcon;
}

a {
  @include navButtons;
}

a:focus {
  @include navButtonsFocus;
}
#aboutBtn:visited {
  @include navButtonVisited;
}
.aboutTitle {
  width: 700px;
  height: 700px;
  position: relative;
  top: 60px;
  left: 90px;
}
.aboutHeader {
  @include animationTwo;
  color: white;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.5mm;
  margin-bottom: 40px;
}
.paragraphContent {
  @include paragraphStyle;
  @include animationTwo;
}
.stupidParagraph {
  @include paragraphStyle;
  @include animationTwo;
  position: relative;
  left: -163px;
}
#link {
  position: relative;
  left: 275px;
  bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: rgb(31, 218, 224);
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  body {
    background-position: 65% 50%;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
  }
  .navBar{
    display: none;
  }
  .topnav {
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.664);
    position: relative;
    width: auto;
  }

  .topnav #myLinks {
    display: block;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 10px;
  }

  .active {
    background-color: transparent;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  #gitIcon {
    position: relative;
    left: 35px;
  }
  .aboutTitle {
    width: 390px;
    height: 850px;
    padding: 5px;
    position: relative;
    top: 120px;
    left: 20px;
    box-sizing: border-box;
  }
  .aboutHeader {
    @include animationTwo;
    color: white;
    font-size: 47px;
    font-weight: 600;
    letter-spacing: -0.5mm;
    margin-bottom: 40px;
  }
  .paragraphContent {
    display: block;
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    position: static;
    @include animationTwo;
  }
  .stupidParagraph {
    display: block;
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    text-align: left;
    position: static;
    @include animationTwo;
    position: relative;
    left: -169px;
  }
  #link {
    position: relative;
    left: 290px;
    bottom: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: rgb(31, 218, 224);
  }
}
