@import "vars";
@import "mixins";

body {
  @include body;
}

.navBar {
  @include navBar;
}
#gitIcon {
  @include gitIcon;
}

a {
  @include navButtons;
}

a:focus {
  @include navButtonsFocus;
}
#aboutBtn:visited {
  @include navButtonVisited;
}
.aboutTitle {
  width: 700px;
  height: 700px;
  position: relative;
  top: 60px;
  left: 90px;
}
.aboutHeader {
  @include animationTwo;
  color: white;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.5mm;
  margin-bottom: 40px;
}
.paragraphContent {
  @include paragraphStyle;
  @include animationTwo;
}
.stupidParagraph {
  @include paragraphStyle;
  @include animationTwo;
  position: relative;
  left: -163px;
}
#link {
  position: relative;
  left: 275px;
  bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: rgb(31, 218, 224);
}
