@-webkit-keyframes introFadeIn {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes introFadeIn {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes introFadeInBtn {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes introFadeInBtn {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(Cover.jpg);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: auto;
  overflow-x: hidden;
}

.navBar {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.664);
  top: 0px;
  z-index: 1;
}

#gitIcon {
  float: right;
  position: relative;
  right: 50px;
  font-size: 20px;
  top: -3px;
}

a {
  float: left;
  padding: 10px 0 10px 0;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 90px;
  font-weight: 450;
  background-color: transparent;
}

a:focus {
  color: #1fdae0;
}

#skillsBtn:visited {
  color: #1fdae0;
}

.topnav {
  display: none;
}

.skillsTitle {
  width: 100%;
  height: 450px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.skillsHeader {
  animation: introFadeInBtn ease-in-out 1s;
  -webkit-animation: introFadeInBtn ease-in-out 1s;
  width: 900px;
  position: relative;
  top: 70px;
  left: 90px;
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.5mm;
}

.skillsParagraph {
  display: block;
  margin-top: 25px;
  color: #ccc;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
  position: static;
  animation: introFadeInBtn ease-in-out 1s;
  -webkit-animation: introFadeInBtn ease-in-out 1s;
  width: 900px;
  position: relative;
  top: 60px;
  left: 90px;
}

.skillContainerPoli {
  animation: introFadeInBtn ease-in-out 1s;
  -webkit-animation: introFadeInBtn ease-in-out 1s;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #070707), to(#052d2e));
  background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
}

.skillContainerPoliContent {
  width: 1800px;
  height: 500px;
}

.solidworksLink {
  position: relative;
  left: -50px;
  top: 20px;
}

.solidworksLogo {
  width: 200px;
}

.solidworksDescription {
  color: #ccc;
  position: relative;
  top: 160px;
  left: -245px;
  font-weight: 600;
}

#solidworksSS {
  width: 43%;
  position: relative;
  left: 515px;
  top: -30px;
}

#solidworksLMLink {
  position: relative;
  top: 150px;
  left: -336px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}

.skillContainerKatalon {
  animation: introFadeInBtn ease-in-out 1s;
  -webkit-animation: introFadeInBtn ease-in-out 1s;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #070707), to(#052d2e));
  background-image: linear-gradient(360deg, #070707 50%, #052d2e 100%);
}

.skillContainerKatalonContent {
  width: 1800px;
  height: 500px;
}

.katalonlink {
  position: relative;
  left: -100px;
  top: 20px;
}

.katalonLogo {
  width: 370px;
}

.katalonDescription {
  color: #ccc;
  position: relative;
  top: 110px;
  left: -407px;
  font-weight: 600;
}

#katalonLMLink {
  position: relative;
  top: 100px;
  left: -498px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}

#katalonSS {
  width: 45%;
  position: relative;
  left: 375px;
  top: -40px;
}

.skillContainerDjuiced {
  animation: introFadeInBtn ease-in-out 1s;
  -webkit-animation: introFadeInBtn ease-in-out 1s;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #070707), to(#052d2e));
  background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
}

.skillContainerDjuicedContent {
  width: 1800px;
  height: 500px;
}

.djuicedlink {
  position: relative;
  left: -30px;
  top: 20px;
}

.djuicedLogo {
  width: 170px;
}

.djuicedDescription {
  color: #ccc;
  position: relative;
  top: 80px;
  left: -202px;
  font-weight: 600;
}

#djuicedLMLink {
  position: relative;
  top: 70px;
  left: -293px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}

#djuicedSS {
  width: 45%;
  position: relative;
  left: 540px;
  top: -80px;
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  body {
    background-position: 65% 50%;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
  }
  .topnav {
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.664);
    position: relative;
    width: auto;
    display: contents;
  }
  .topnav #myLinks {
    display: block;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 10px;
  }
  .active {
    background-color: transparent;
    color: white;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #gitIcon {
    position: relative;
    left: 35px;
  }
  .container {
    width: 100%;
  }
  .skillsTitle {
    width: 375px;
    height: 600px;
    margin: 0px;
    padding: 0px;
  }
  .skillsHeader {
    animation: introFadeInBtn ease-in-out 1s;
    -webkit-animation: introFadeInBtn ease-in-out 1s;
    width: 375px;
    position: relative;
    top: 120px;
    left: 20px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.5mm;
  }
  .skillsParagraph {
    animation: introFadeInBtn ease-in-out 1s;
    -webkit-animation: introFadeInBtn ease-in-out 1s;
    display: block;
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    width: 350px;
    position: relative;
    top: 110px;
    left: 20px;
  }
  .skillContainerPoli {
    animation: introFadeInBtn ease-in-out 1s;
    -webkit-animation: introFadeInBtn ease-in-out 1s;
    width: auto;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0f0f0f), to(#052d2e));
    background-image: linear-gradient(180deg, #0f0f0f 50%, #052d2e 100%);
  }
  .skillContainerPoliContent {
    width: auto;
    height: 500px;
  }
  .solidworksLink {
    position: relative;
    left: -80px;
    top: -40px;
  }
  .solidworksLogo {
    width: 200px;
  }
  .solidworksDescription {
    width: 375px;
    color: #ccc;
    position: relative;
    top: 100px;
    left: -275px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #solidworksSS {
    width: 375px;
    position: relative;
    left: 0px;
    top: -30px;
  }
  #solidworksLMLink {
    position: relative;
    top: -300px;
    left: -75px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  .skillContainerKatalon {
    animation: introFadeInBtn ease-in-out 1s;
    -webkit-animation: introFadeInBtn ease-in-out 1s;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #070707), to(#052d2e));
    background-image: linear-gradient(360deg, #070707 50%, #052d2e 100%);
  }
  .skillContainerKatalonContent {
    width: 375px;
    height: 500;
  }
  .katalonlink {
    position: relative;
    left: -160px;
    top: -40px;
  }
  .katalonLogo {
    width: 370px;
  }
  .katalonDescription {
    width: 400px;
    color: #ccc;
    position: relative;
    top: 44px;
    left: -465px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #katalonLMLink {
    position: relative;
    top: -255px;
    left: -94px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  #katalonSS {
    width: 375px;
    position: relative;
    left: 0px;
    top: 20px;
  }
  .skillContainerDjuiced {
    animation: introFadeInBtn ease-in-out 1s;
    -webkit-animation: introFadeInBtn ease-in-out 1s;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #070707), to(#052d2e));
    background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
  }
  .skillContainerDjuicedContent {
    height: 500px;
    width: auto;
  }
  .djuicedlink {
    position: relative;
    left: -70px;
    top: -40px;
  }
  .djuicedLogo {
    width: 170px;
  }
  .djuicedDescription {
    width: 400px;
    color: #ccc;
    position: relative;
    top: 15px;
    left: -242px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #djuicedLMLink {
    position: relative;
    top: -230px;
    left: -70px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  #djuicedSS {
    width: 390px;
    position: relative;
    left: -10px;
    top: 50px;
  }
  .navBar {
    display: none;
  }
}
/*# sourceMappingURL=skills.css.map */