@import "vars";
@import "mixins";

body {
  @include body;
}

.navBar {
  @include navBar;
}
#gitIcon {
  @include gitIcon;
}

a {
  @include navButtons;
}

a:focus {
  @include navButtonsFocus;
}
#skillsBtn:visited {
  @include navButtonVisited;
}
.topnav{
  display: none;
}
.skillsTitle {
  width: 100%;
  height: 450px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
.skillsHeader {
  @include animationTwo;
  width: 900px;
  position: relative;
  top: 70px;
  left: 90px;
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.5mm;
}
.skillsParagraph {
  @include paragraphStyle;
  @include animationTwo;
  width: 900px;
  position: relative;
  top: 60px;
  left: 90px;
}
.skillContainerPoli {
  @include animationTwo;
  @include container;
  background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
}
.skillContainerPoliContent {
  @include containerContent;
}
.solidworksLink {
  position: relative;
  left: -50px;
  top: 20px;
}
.solidworksLogo {
  width: 200px;
}
.solidworksDescription {
  color: #ccc;
  position: relative;
  top: 160px;
  left: -245px;
  font-weight: 600;
}
#solidworksSS {
  width: 43%;
  position: relative;
  left: 515px;
  top: -30px;
}
#solidworksLMLink {
  position: relative;
  top: 150px;
  left: -336px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}
.skillContainerKatalon {
  @include animationTwo;
  @include container;
  background-image: linear-gradient(360deg, #070707 50%, #052d2e 100%);
}
.skillContainerKatalonContent {
  @include containerContent;
}
.katalonlink {
  position: relative;
  left: -100px;
  top: 20px;
}
.katalonLogo {
  width: 370px;
}
.katalonDescription {
  color: #ccc;
  position: relative;
  top: 110px;
  left: -407px;
  font-weight: 600;
}
#katalonLMLink {
  position: relative;
  top: 100px;
  left: -498px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}
#katalonSS {
  width: 45%;
  position: relative;
  left: 375px;
  top: -40px;
}
.skillContainerDjuiced {
  @include animationTwo;
  @include container;
  background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
}
.skillContainerDjuicedContent {
  @include containerContent;
}
.djuicedlink {
  position: relative;
  left: -30px;
  top: 20px;
}
.djuicedLogo {
  width: 170px;
}
.djuicedDescription {
  color: #ccc;
  position: relative;
  top: 80px;
  left: -202px;
  font-weight: 600;
}
#djuicedLMLink {
  position: relative;
  top: 70px;
  left: -293px;
  font-weight: 200;
  font-size: 18px;
  color: #1fdae0;
}
#djuicedSS {
  width: 45%;
  position: relative;
  left: 540px;
  top: -80px;
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  body {
    background-position: 65% 50%;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
  }

  .topnav {
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.664);
    position: relative;
    width: auto;
    display: contents;
  }

  .topnav #myLinks {
    display: block;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 10px;
  }

  .active {
    background-color: transparent;
    color: white;
    overflow: hidden;
    transition: 0.5s;
  }
  #gitIcon {
    position: relative;
    left: 35px;
  }
  .container {
    width: 100%;
  }
  .skillsTitle {
    width: 375px;
    height: 600px;
    margin: 0px;
    padding: 0px;
  }
  .skillsHeader {
    @include animationTwo;
    width: 375px;
    position: relative;
    top: 120px;
    left: 20px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.5mm;
  }
  .skillsParagraph {
    @include animationTwo;
    display: block;
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    width: 350px;
    position: relative;
    top: 110px;
    left: 20px;
  }
  .skillContainerPoli {
    @include animationTwo;
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #0f0f0f 50%, #052d2e 100%);
  }
  .skillContainerPoliContent {
    width: auto;
    height: 500px;
  }
  .solidworksLink {
    position: relative;
    left: -80px;
    top: -40px;
  }
  .solidworksLogo {
    width: 200px;
  }
  .solidworksDescription {
    width: 375px;
    color: #ccc;
    position: relative;
    top: 100px;
    left: -275px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #solidworksSS {
    width: 375px;
    position: relative;
    left: 0px;
    top: -30px;
  }
  #solidworksLMLink {
    position: relative;
    top: -300px;
    left: -75px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  .skillContainerKatalon {
    @include animationTwo;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(360deg, #070707 50%, #052d2e 100%);
  }
  .skillContainerKatalonContent {
    width: 375px;
    height: 500;
  }
  .katalonlink {
    position: relative;
    left: -160px;
    top: -40px;
  }
  .katalonLogo {
    width: 370px;
  }
  .katalonDescription {
    width: 400px;
    color: #ccc;
    position: relative;
    top: 44px;
    left: -465px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #katalonLMLink {
    position: relative;
    top: -255px;
    left: -94px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  #katalonSS {
    width: 375px;
    position: relative;
    left: 0px;
    top: 20px;
  }
  .skillContainerDjuiced {
    @include animationTwo;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #070707 50%, #052d2e 100%);
  }
  .skillContainerDjuicedContent {
    height: 500px;
    width: auto;
  }
  .djuicedlink {
    position: relative;
    left: -70px;
    top: -40px;
  }
  .djuicedLogo {
    width: 170px;
  }
  .djuicedDescription {
    width: 400px;
    color: #ccc;
    position: relative;
    top: 15px;
    left: -242px;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
  }
  #djuicedLMLink {
    position: relative;
    top: -230px;
    left: -70px;
    font-weight: 200;
    font-size: 14px;
    color: #1fdae0;
  }
  #djuicedSS {
    width: 390px;
    position: relative;
    left: -10px;
    top: 50px;
  }
  .navBar {
    display: none;
  }
}
